{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Escape Movie</h1>
    <div class="contentHome">
        <a href="/play" class="anchor"><img src="https://img.icons8.com/ios/150/000000/play-button-circled.png"/>Jouer</a>
        <a href="/edit" class="anchor"><img src="https://img.icons8.com/pastel-glyph/150/000000/edit.png"/>Créer</a>
    </div>
{% endblock %}
